/* VARIABLES */
$primary-color: rgb(63, 106, 137);
$primary-black: rgb(0, 0, 0);
$primary-white: rgb(255, 255, 255);
$secondary-color: rgb(134, 167, 191);
$accent-color: rgb(236,236,236);
$accent-color-light: rgb(242, 242, 242);
$accent-color-lighter: rgb(248, 248, 248);
$accent-color-dark: rgb(151, 159, 164);
$accent-color-darker: rgb(36, 69, 94);

/* MIXINS */
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin max-80vw {
    max-width: 80vw;
    max-height: 80vh;
}
@mixin border-radius-shadow {
    border-radius: 12px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}




/* GENERAL STYLES */
html, body {
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}
a {
    color: $accent-color !important;
    text-decoration: none;
    background-color: transparent;
    transition: 250ms;
}
a:hover {
    color: $primary-black !important;
    text-decoration: none !important;
}
.hidden {
    display: none;
}


/* ALERT STYLES */
.alert-container {
    @include flex-center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
}
.alert {
    width: 40%;
    text-align: center;
}


/* NAVBAR STYLES */
.navbar {
    margin-bottom: 0;
    border-radius: 0 !important;
    height: 60px;
}
.nav {
    display: flex;
    align-items: center;
}
.container-fluid .navbar-nav > li > a:hover, .container-fluid .navbar-nav > li > a:focus {
    background-color: $primary-white;
    color: $primary-black !important;
    font-weight: bold;
}
#owl-logo-nav-item {
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0) !important;
    border: none;
}
.owl-logo-container {
    height: 40px;
}
#owl-logo-img {
    height: 75%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    object-fit: contain;
    transition: 450ms;
}
#to-page-nav-item {
    font-size: 20px;
    opacity: 0;
    position: relative;
    right: 40px;
    transition: 450ms;
}




/* FOOTER STYLES */
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    z-index: 9999;
}




/* INDEX PAGE STYLES */
.idx-content {
    @include flex-center;
    flex-direction: column;
    height: 100%;
    gap: 28px;
    width: 100%;
}
.landing-logo-div {
    @include flex-center;
    @include absolute-center;
    flex-direction: column;
    width: 400px;

    *:hover {
        cursor: pointer;
    }
}
.landing-logo-div-vision {
    @include flex-center;
    flex-direction: column;
    margin-top: 20px;

    #logo-eyes-vision {
        max-width: 20%;
        transition: 400ms;
    }
    #logo-text-vision {
        max-width: 40%;
        transition: 400ms;
    }
}
#logo-eyes {
    opacity: 0.15;
    max-width: 60%;
    transition: 550ms;
}
#logo-text {
    opacity: 0.15;
    max-width: 100%;
    transition: 550ms;
}
.hidden-subtitle {
    font-size: 24px;
    transition: 6s;
    padding-top: 16px;
}




/* UPLOAD FORM STYLES */
.upload-form-div {
    z-index: -1;
}
.floating-form {
    @include border-radius-shadow;
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: $accent-color-light;
    padding: 10px 20px 20px 20px;
    margin: 60px;

    p, h3 {
        text-align: center;
        a {
            color: $secondary-color !important;
        }
        a:hover {
            color: $primary-color !important;
            font-weight: 500;
        }
    }
}
.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    label, input, select {
        width: 70%;
    }
    #uploaded-image, #uploaded-image-label {
        width: 100%;
    }
    #uploaded-image-label {
        text-align: center;
    }
}
.upload-div, .upload-div>label {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.form-title {
    color: $primary-color;
}
.form-subtitle {
    color: $accent-color-dark;
}
.checkboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
.checkbox-option {
    height: 25px;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.checkbox-label {
    margin-left: 20px;
    position: relative;
    top: 5px;
    font-family: "Sometype Mono", monospace; 
}
.checkbox-box {
    margin-right: 20px !important;
    width: 25px !important;
    accent-color: $primary-color;
}
#user-email {
    width: 60%;
    border-radius: 6px;
    padding: 4px;
    border: 1px solid $secondary-color ;
    outline: 1px solid $primary-white;
}
#user-email:focus {
    border: 2px solid $primary-color;
}


/* UPLOAD FORM - Button Styles */
.btn-box {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}
.button {
    @include flex-center;
    width: 100%;
    gap: 10px;
    padding: 4px;
    margin-top: 20px;
    border-radius: 8px;
    transition: 250ms;
    border: none;
    font-weight: 400;
}
.button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transform: scale(.9);
    font-weight: 800;
}
#upload-image-button {
    width: 60%;
    background-color: $primary-color;
    color: $primary-white;
}
#upload-image-button:hover {
    background-color: rgb(36, 69, 94);
    color: $accent-color;
}
#submit-button {
    background-color: rgb(87, 132, 69);
    color: $primary-white;
}
#submit-button:hover {
    background-color: rgb(60, 105, 42);
    color: $accent-color;
}
#cancel-button {
    background-color: rgb(156, 69, 69);
    color: $primary-white;
}
#cancel-button:hover {
    background-color: rgb(129, 42, 42);
    color: $accent-color;
}
#adv-options-button,
#adv-options-close {
    width: 150px;
    align-self: center;
}
#adv-options-div {
    width: 80%;
    align-self: center;
    flex-direction: column;
    align-items: flex-start;
}
.image-preview-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#image-preview {
    @include border-radius-shadow;
    margin-top: 18px;
    max-width: 150px;
    max-height: 150px;
}




/* VISION PAGE STYLES */
.vision-page-content {
    @include flex-center;
    flex-direction: column;
    height: 100%;
    gap: 28px;
    width: 100%;
}
.uploaded-image {
    @include border-radius-shadow;
    display: block;
    margin-bottom: 20px;
}
.bbox-image, 
.uploaded-image {
    @include max-80vw;
}
/* Expanded spine text image container */
#full-size-image-div {
    @include flex-center;
    @include absolute-center;
    @include max-80vw;
    @include border-radius-shadow;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}
.full-size-image {
    @include max-80vw;
    @include border-radius-shadow;
    cursor: pointer;
    display: block;
    background-color: $primary-white; 
    padding: 10px;
    margin: auto;
}
#image-div {
    @include flex-center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 15px;
    width: 100%;
    overflow-y: scroll;
}
#bbox-image {
    @include border-radius-shadow;
    max-width: 100%;
    max-height: 100%;
}
.spine-image-grid {
    @include border-radius-shadow;
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: $accent-color-lighter;
}
.spine-grid-element {
    @include border-radius-shadow;
    cursor: pointer;
    max-width: 150px;
    max-height: 250px;
    display: block;
    background-color: $primary-white;
    padding: 10px;
    margin: auto;
    transition: 350ms;
}
.spine-grid-element:hover {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}
.vision-para-div * {
    text-align: center;
    margin-bottom: 60px;
}
.vision-link {
    color: rgb(120, 157, 183) !important;
}
.vision-link:hover {
    color: $primary-black !important;
}
#stage_02, #stage_03, #stage_04, #stage_05, #stage_06 {
    display: none;
}
.terminal {
    @include border-radius-shadow;
    margin-top: 20px;
    height: 48px;
    min-width: 666px;
    text-align: left;
    background-color: $accent-color-lighter;
    display: flex;
    align-items: center;
    padding: 2px 8px;
}
#progress-status {
    background-color: rgba(0, 0, 0, 0);
    font-family: "Sometype Mono", monospace;
    color: #333333;
    border: none;
    outline: none;
    margin-bottom: 0px;
}




/* TIPS PAGE */
.tips-page-content {
    @include flex-center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
}
.tips-div {
    @include flex-center;
    @include border-radius-shadow;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    padding: 20px 40px;
    background-color: $accent-color-lighter;  // Light gray background for better visibility
}
.top-tips-div {
    margin-top: 20px;
}




/* ABOUT PAGE */
.about-page-content {
    @include flex-center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
}   
.about-div {
    @include flex-center;
    @include border-radius-shadow;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    width: 60%;
    padding: 20px 40px;
    background-color: $accent-color-lighter;
}




/* VISION COMPLETE PAGE */
.vision-complete-page-content {
    @include flex-center;
    flex-direction: column;    
    height: 80vh;
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
}
.complete-div {
    @include flex-center;
    flex-direction: column;
    gap: 60px;
}
.complete-paras {
    text-align: center;
}




/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    /* Landing Page, Upload Form */
    .landing-logo-div {
        max-width: 300px;
    }
    .hidden-subtitle {
        font-size: 16px;
        transition: 6s;
        padding-top: 10px;
    }
    .floating-form {
        margin-top: 100px;
        width: 70%;
        h3 {
            font-size: 20px;
        }
    }
    .button {
        width: 90%;
    }
    #user-email {
        width: 90%;
    }
    #adv-options-button,
    #adv-options-close {
        width: 90%;
    }
    #adv-options-div {
        width: 90%;
    }

    /* Vision Page */
    .spine-image-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .spine-grid-element {
        max-width: 100px;
        max-height: 200px;
    }
    .vision-para-div {
        width: 90%;
    }
    .vision-para-div * {
        margin-bottom: 40px;
    }
    .terminal {
        min-width: 90%;
        max-width: 90%;
        height: 25px;
        border-radius: 4px;
    }
    #progress-status {
        font-size: 10px;
    }
    .uploaded-image {
        max-width: 200px;
        max-height: 200px;
    }

    /* About & Tips Mobile */
    .about-div, .tips-div {
        width: 90%;
    }
}

