/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}

a {
    color: rgb(236,236,236) !important;
    text-decoration: none;
    background-color: transparent;
    transition: 250ms;
}
a:hover {
    color: black !important;
    text-decoration: none !important;
}


.btn-box {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}


/* NAVBAR STYLES */
.navbar {
    margin-bottom: 0;
    border-radius: 0 !important;
    height: 60px;
}
.nav {
    display: flex;
    align-items: center;
}

.container-fluid .navbar-nav > li > a:hover, .container-fluid .navbar-nav > li > a:focus {
    background-color: white;
    color: black !important;
    font-weight: bold;
}

#owl-logo-nav-item {
    margin-right: 10px;
    background-color: white;
    border: none;
}

.owl-logo-container {
    height: 40px;
}

#owl-logo-img,
#owl-logo-img-light {
    height: 75%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    object-fit: contain;
    transition: 250ms;
}


/* FOOTER STYLES */
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
}


/* CAROUSEL STYLES */
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none; 
    }
}

.vis-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 28px;
    width: 100%;
}



/* INDEX PAGE STYLES */
.idx-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 28px;
    width: 100%;
}
.landing-logo-div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    *:hover {
        cursor: pointer;
    }
}
.landing-logo-div-vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    #logo-eyes-vision {
        max-width: 20%;
        transition: 400ms;
    }
    #logo-text-vision {
        max-width: 40%;
        transition: 400ms;
    }
}
#logo-eyes {
    opacity: 0.15;
    max-width: 60%;
    transition: 400ms;
}
#logo-text {
    opacity: 0.15;
    max-width: 100%;
    transition: 400ms;
}


/* UPLOAD FORM STYLES */
.upload-form-div {
    z-index: -1;
}
.floating-form {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: rgb(242, 242, 242);
    padding: 10px 20px 20px 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    p, h3 {
        text-align: center;

        a {
            color: rgb(134, 167, 191) !important;
        }
        a:hover {
            color: rgb(63, 106, 137) !important;
            font-weight: 500;
        }
    }
}

.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    label, input, select {
        width: 70%;
    }
    #uploaded-image, #uploaded-image-label {
        width: 100%;
    }
    #uploaded-image-label {
        text-align: center;
    }
}

.upload-div, .upload-div>label {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;

}
.form-title {
    color: rgb(63, 106, 137)
}
.form-subtitle {
    color: rgb(151, 159, 164)
}

.checkboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    label {
        margin-left: 20px;
        position: relative;
        top: 5px;
    }
}
.checkbox-option {
    height: 30px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    accent-color: rgb(63, 106, 137);
}


.proc-upload-img {
    border-radius: 12px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.uploaded-image {
    max-width: 600px;
    max-height: 600px;
    display: block;
}
.bbox-image {
    max-width: 800px;
    max-height: 800px;
}


#full-size-image-div {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 80vw;
    max-height: 80vh;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border-radius: 12px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

.full-size-image {
    cursor: pointer;
    max-width: 80vw;
    max-height: 80vh;
    display: block;
    border-radius: 12px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;  // White background for the images
    padding: 10px;
    margin: auto;
}


#image-div {
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.spine-image-grid {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: #f8f8f8;  // Light gray background for better visibility
    border-radius: 12px;
}

.spine-grid-element {
    cursor: pointer;
    max-width: 150px;
    max-height: 250px;
    display: block;
    border-radius: 12px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;  // White background for the images
    padding: 10px;
    margin: auto;
}
.spine-grid-element:hover {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}



.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 4px;
    margin-top: 20px;
    border-radius: 8px;
    transition: 250ms;
    border: none;
    font-weight: 400;
}
.button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transform: scale(.9);
    font-weight: 800;
}
#upload-image-button {
    width: 60%;
    background-color: rgb(63, 106, 137);
    color: white;
}
#upload-image-button:hover {
    background-color: rgb(36, 69, 94);
    color: rgb(236,236,236)
}
#submit-button {
    background-color: rgb(87, 132, 69);
    color: white;
}
#submit-button:hover {
    background-color: rgb(60, 105, 42);
    color: rgb(236,236,236)
}
#cancel-button {
    background-color: rgb(156, 69, 69);
    color: white;
}
#cancel-button:hover {
    background-color: rgb(129, 42, 42);
    color: rgb(236,236,236)
}

#user-email {
    width: 60%;
    border-radius: 6px;
    padding: 4px;
    border: 1px solid rgb(134, 167, 191) ;
    outline: 1px solid white;
}
#user-email:focus {
    border: 2px solid rgb(63, 106, 137);
}



/* VISION PAGE STYLES */
.vision-para-div * {
    text-align: center;
    margin-bottom: 60px;
}
.vision-link {
    color: rgb(120, 157, 183) !important;
}
.vision-link:hover {
    color: black !important;
}


#stage_02, #stage_03, #stage_04, #stage_05, #stage_06 {
    display: none;
}


.terminal {
    margin-top: 20px;
    height: 48px;
    width: 666px;
    border-radius: 12px;
    text-align: left;
    background-color: #000000ba;
    display: flex;
    align-items: center;
    padding: 2px 8px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}
#progress-status {
    background-color: rgba(0, 0, 0, 0);
    font-family: "Sometype Mono", monospace;
    color: #f4f6f3;
    border: none;
    outline: none;
    margin-bottom: 0px;

}








/* TIPS PAGE */

.tips-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
}

.tips-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 60%;
    padding: 20px 40px;
    background-color: #f8f8f8;  // Light gray background for better visibility
    border-radius: 12px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}
.top-tips-div {
    margin-top: 20px;
}


/* ABOUT PAGE */

.about-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
}   
.about-div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 60%;
    padding: 20px 40px;
    background-color: #f8f8f8;  // Light gray background for better visibility
    border-radius: 12px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}