/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

a {
  color: rgb(236, 236, 236) !important;
  text-decoration: none;
  background-color: transparent;
  transition: 250ms;
}

a:hover {
  color: black !important;
  text-decoration: none !important;
}

.btn-box {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
}

/* NAVBAR STYLES */
.navbar {
  margin-bottom: 0;
  border-radius: 0 !important;
  height: 60px;
}

.nav {
  display: flex;
  align-items: center;
}

.container-fluid .navbar-nav > li > a:hover, .container-fluid .navbar-nav > li > a:focus {
  background-color: white;
  color: black !important;
  font-weight: bold;
}

#owl-logo-nav-item {
  margin-right: 10px;
  background-color: white;
  border: none;
}

.owl-logo-container {
  height: 40px;
}

#owl-logo-img,
#owl-logo-img-light {
  height: 75%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  object-fit: contain;
  transition: 250ms;
}

/* FOOTER STYLES */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
}

/* CAROUSEL STYLES */
.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height: 200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}
/* INDEX PAGE STYLES */
.idx-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.landing-logo-div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-logo-div *:hover {
  cursor: pointer;
}

.landing-logo-div-vision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.landing-logo-div-vision #logo-eyes-vision {
  max-width: 20%;
  transition: 400ms;
}
.landing-logo-div-vision #logo-text-vision {
  max-width: 40%;
  transition: 400ms;
}

#logo-eyes {
  max-width: 60%;
  transition: 400ms;
}

#logo-text {
  max-width: 100%;
  transition: 400ms;
}

/* UPLOAD FORM STYLES */
.upload-form-div {
  z-index: -1;
}

.floating-form {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: rgb(242, 242, 242);
  padding: 10px 20px 20px 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.floating-form p, .floating-form h3 {
  text-align: center;
}
.floating-form p a, .floating-form h3 a {
  color: rgb(134, 167, 191) !important;
}
.floating-form p a:hover, .floating-form h3 a:hover {
  color: rgb(63, 106, 137) !important;
  font-weight: 500;
}

.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-div label, .form-div input, .form-div select {
  width: 70%;
}
.form-div #uploaded-image, .form-div #uploaded-image-label {
  width: 100%;
}
.form-div #uploaded-image-label {
  text-align: center;
}

.upload-div, .upload-div > label {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-title {
  color: rgb(63, 106, 137);
}

.form-subtitle {
  color: rgb(151, 159, 164);
}

.checkboxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.checkboxes label {
  margin-left: 20px;
  position: relative;
  top: 5px;
}

.checkbox-option {
  height: 30px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  accent-color: rgb(63, 106, 137);
}

#uploaded-image {
  position: relative;
  left: 38px;
  margin-bottom: 16px;
}

.proc-upload-img {
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 4px;
  margin-top: 20px;
  border-radius: 8px;
  transition: 250ms;
  border: none;
  font-weight: 400;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transform: scale(0.9);
  font-weight: 800;
}

#upload-image-button {
  width: 60%;
  background-color: rgb(63, 106, 137);
  color: white;
}

#upload-image-button:hover {
  background-color: rgb(36, 69, 94);
  color: rgb(236, 236, 236);
}

#submit-button {
  background-color: rgb(87, 132, 69);
  color: white;
}

#submit-button:hover {
  background-color: rgb(60, 105, 42);
  color: rgb(236, 236, 236);
}

#cancel-button {
  background-color: rgb(156, 69, 69);
  color: white;
}

#cancel-button:hover {
  background-color: rgb(129, 42, 42);
  color: rgb(236, 236, 236);
}

#user-email {
  width: 60%;
  border-radius: 6px;
  padding: 4px;
  border: 1px solid rgb(134, 167, 191);
  outline: 1px solid white;
}

#user-email:focus {
  border: 2px solid rgb(63, 106, 137);
}

/* VISION PAGE STYLES */
.vision-para-div * {
  text-align: center;
}

.vision-link {
  color: rgb(120, 157, 183) !important;
}

.vision-link:hover {
  color: black !important;
}

/*# sourceMappingURL=style.css.map */
