{% extends "layout.html" %}
{% load static %}

{% block title %}About{% endblock %}
{% block body %}
    <div class="page-identifier" style="display:none">about</div>
    <div class="about-page-content">
        <div class="landing-logo-div-vision">
            <img id="logo-eyes-vision" src="{% static 'dashboard/images/eyes-only.png' %}" alt="Booksight Logo Owl Eyes">
            <img id="logo-text-vision" src="{% static 'dashboard/images/booksight-text.png' %}" alt="Booksight Logo Text">
        </div>
        <div class="about-div">
            <h2>What is BookSight?</h2>
            <p>
                Booksight is a web application that allows users to catalog their book collections by taking a picture of their bookshelf. 
                The application uses computer vision to detect the spines of books in the image and extract the text from the spines.
            </p>
            <p>
                To identify the precise edition of each book, the spines in your image are analyzed for average color, dominant color, height, width, and text.
                The extracted text is then cleaned up using an AI model to remove any noise and improve the accuracy of the text. Ideally, at this point,
                the program should have access to a "Spine" object representing each book in the image. These objects contain all of the extracted information.
            </p>
            <p>
                All of this information is then used to identify all possible ISBNS. The ISBNs are then used to query book database APIs to get detailed information about each book.
                The results are then exported to the format of your choosing. Currently, the application supports exporting to CSV, JSON, XML, and TXT.
            </p>
            <p>
                Booksight is a work in progress and will continue to improve over time. If you have any feedback or suggestions, please feel free to reach out to us.
            </p>
        </div>

    </div>
    
{% endblock %}