{% extends "layout.html" %}
{% load static %}

{% block title %}Booksight{% endblock %}

{% block body %}
    <div class="page-identifier" style="display:none">index</div>
    <div class="idx-content">

        <div class="landing-logo-div">
            <img id="logo-eyes" src="{% static 'dashboard/images/eyes-only.png' %}" alt="Booksight Logo Owl Eyes">
            <img id="logo-text" src="{% static 'dashboard/images/booksight-text.png' %}" alt="Booksight Logo Text">
            <p class="hidden-subtitle" style="opacity:0">For the details your eyes can't see</p>
        </div>

        <div class="upload-form-div"  style="opacity:0">

            <form class="floating-form" id="upload-img-form" action="{% url 'vision' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-div">
                    <h3 class="form-title">Upload an image of your bookcase</h2>
                    <p class="form-subtitle">For best results, check out our <a href="{% url 'tips' %}"">tips</a> page</p>
                </div>
                
                <div class="form-div">
                    <h4>Email Address</h4>
                    <input type="email" id="user-email" name="user-email" placeholder="Enter your email">
                    <p style="margin-top:8px">(Leave empty if you just want the files saved locally.)</p>
                </div>

                <div class="form-div">
                    <h4>Export Formats</h4>
                    <div class="checkboxes">
                        <div class="checkbox-option">
                            <label class="checkbox-label" for="csv">CSV&nbsp;</label>
                            <input class="checkbox-box" type="checkbox" id="csv" name="format" value="csv">
                        </div>
                        <div class="checkbox-option">
                            <label class="checkbox-label" for="json">JSON</label>
                            <input class="checkbox-box" type="checkbox" id="json" name="format" value="json">
                        </div>
                        <div class="checkbox-option">
                            <label class="checkbox-label" for="xml">XML&nbsp;</label>
                            <input class="checkbox-box" type="checkbox" id="xml" name="format" value="xml">
                        </div>
                        <div class="checkbox-option">
                            <label class="checkbox-label" for="txt">TXT&nbsp;</label>
                            <input class="checkbox-box" type="checkbox" id="txt" name="format" value="txt">
                        </div>
                        <div class="checkbox-option">
                            <label class="checkbox-label" for="all">ALL&nbsp;</label>
                            <input class="checkbox-box" type="checkbox" id="all" name="all-no-pass" value="all">
                        </div>
                    </div>
                </div>
                <div class="image-preview-div">
                    <img id="image-preview" src="" alt="Image Preview" class="hidden">
                </div>
                <div class="form-div upload-div">
                    <input type="file" name="uploaded-image" id="uploaded-image" style="display:none;"/>
                    <label class="button" id="upload-image-button" for="uploaded-image">Upload Image</label>
                </div>

                <div class="btn-box">
                    <input class="button" id="submit-button" type="submit" value="Submit">
                    <button class="button" id="cancel-button" type="button">Cancel</button>
                </div>

                <button class="button" id="adv-options-button" type="button">Advanced Options</button>

                <div id="adv-options-div" style="display:none">
                    <h3 class="form-title" style="align-self:center">Advanced Options</h3>
                    </br>
                    <div>
                        <label for="ai-model">AI Model - </label>
                        <select name="ai-model" id="ai-model">
                            <option value="gemini-1.5-pro" selected="selected">Gemini 1.5 Pro (default)</option>
                            <option value="gemini-1.5-flash">Gemini 1.5 Flash</option>
                            <option value="gemini-1.0-pro">Gemini 1.0 Pro</option>
                            <option value="gpt-3.5-turbo">GPT 3.5 Turbo</option>
                            <option value="gpt-4o">GPT 4o</option>
                        </select>
                    </div>
                    </br>
                    <div>
                        
                        <label for="ai-temp">AI Temperature - </label>
                        <input type="number" name="ai-temp" id="ai-temp" min="0" max="1" step="0.1" value="0.3">
                    </div>
                    </br>
                    <div>
                        <label for="torch-confidence">Torchvision confidence - </label>
                        <input type="number" name="torch-confidence" id="torch-confidence" min="0" max="1" step="0.01" value="0.79">
                    </div>
                    </br>
                    <p>Warning: Adjusting these settings may greatly affect the accuracy of the results, use with caution.</p>
                </div>
                <button class="button" id="adv-options-close" type="button" style="display:none">Close Advanced Options</button>
            </form> 

        </div>
    </div>

    <script>
        const uploadedImage = document.getElementById("uploaded-image");
        const imagePreview = document.getElementById("image-preview");

        // run displayPreviewImage function when the user selects an image
        uploadedImage.addEventListener("change", displayPreviewImage);

        function displayPreviewImage() {
            if (uploadedImage.files.length > 0) {
                imagePreview.classList.remove("hidden");
                let selectedImage = uploadedImage.files[0];
                let objectURL = URL.createObjectURL(selectedImage);
                imagePreview.src = objectURL;
            } else {
                imagePreview.classList.add("hidden");
            }
            
        }
    </script>
{% endblock %}







