{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light navbar-fixed-top">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li id="owl-logo-nav-item">
                        <a id="logo-link" href="#">
                            <div class="owl-logo-container">
                                <img id="owl-logo-img" src="{% static 'dashboard/images/owl.png' %}" alt="Owl Logo" style="opacity:0.15">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        
        {% block body %}{% endblock %}

        <footer id="footer" class="container-fluid text-center">
            <p><a href="https://github.com/MyPetLobster/booksight">GitHub</p>
        </footer>

        <script>
            const logoLink = document.getElementById('logo-link');
            const footer = document.getElementById('footer');
            const pageIdentifier = document.querySelector('.page-identifier').textContent;

            if (pageIdentifier === 'index') {
                logoLink.href = "{% url 'about' %}";
                footer.style.display = 'block';
            } else if (pageIdentifier === 'about') {
                logoLink.href = "{% url 'index' %}";
                footer.style.display = 'block';
            } else if (pageIdentifier === 'tips') {
                logoLink.href = "{% url 'index' %}";
                footer.style.display = 'block';
            } else if (pageIdentifier === 'vision') {
                logoLink.style.display = 'none';
                footer.style.display = 'none';
            } else if (pageIdentifier === 'vision-complete') {
                logoLink.href = "{% url 'index' %}";
                footer.style.display = 'none';
            }

            const darkOwlLogo = document.getElementById('owl-logo-img');
            const owlLogoNavItem = document.getElementById('owl-logo-nav-item');

            owlLogoNavItem.addEventListener('mouseover', () => {
                darkOwlLogo.style.opacity = 1;
            });

            owlLogoNavItem.addEventListener('mouseout', () => {
                darkOwlLogo.style.opacity = 0.15;
            });

            // hide footer if not scrolled to bottom
            window.onscroll = function(ev) {
                if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                    footer.style.display = 'block';
                } else {
                    footer.style.display = 'none';
                }
            };
        </script>
    </body>
</html>