{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="navbar">
            <a href="">About</a>
            <a href="">Contact</a>
            <a href="{% url 'index' %}">
                <div class="nav-owl-div">
                    <img id="nav-owl-img" src="{% static 'dashboard/images/owl.png' %}">
                </div>
            </a>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>