{% extends "layout.html" %}
{% load static %}

{% block title %}Booksight Tips{% endblock %}

{% block body %}
    <div class="page-identifier" style="display:none">tips</div>
    <div class="tips-page-content">

        <div class="landing-logo-div-vision">
            <img id="logo-eyes-vision" src="{% static 'dashboard/images/eyes-only.png' %}" alt="Booksight Logo Owl Eyes">
            <img id="logo-text-vision" src="{% static 'dashboard/images/booksight-text.png' %}" alt="Booksight Logo Text">
        </div>

        <div class="tips-div top-tips-div">
            <h2>Image Tips</h2>
            <ul>
                <li>Make sure the image you upload is <strong>clear and in focus.</strong></li>
                <li>Try to <strong>avoid glare</strong> or reflections on the page.</li>
                <li><strong>Well lit and even lighting</strong> will help improve the accuracy of the text extraction.</li>
                <li>Make sure all book spines are straight. In other words, as close to <strong>90 or 180 degrees</strong> as possible. (Leaning books may not be detected)</li>
                <li>Make sure the image is <strong>not blurry or distorted</strong>.</li>
                <li>Frame your image so that <strong>all spines in the image are fully visible</strong> and not obscured by other books or objects or cut off by the edge of the image.</li>
            </ul>  
        </div>

        </br>

        <div class="tips-div">
            <h2>Common Issues</h2>
            <ul>
                <li>Beware, some books may go undetected or misidentified. If you are using Booksight to catalog your library, make sure to double check the results.</li>
                <li>The most common misidentification occurs when a book has a hardcover and softcover edition and both have the same cover and similar height/width ratios.</li>
                <li>
                    During the AI text cleanup process, any books that went undetected in the initial spine identification will be added to your list, then only general
                    information about that book will be included in your results. Books identified in this manner will have a "confidence" of 0. A confidence number will
                    be included for each result.
                </li>
                <li>
                    The speed of Booksight is currently limited by the rate limiting of one of the APIs we use to match books. To correctly identify any book we must check 
                    all possible ISBNs for a book. Some books can have a lot of potential ISBNs, so this can take a while. We are working on several solutions to bypass this bottleneck.
                </li>
                <li>Booksight is a work in progress and will continue to improve over time. If you have any feedback or suggestions, please feel free to reach out to us.</li>
            </ul>
        </div>

        </br>

        <div class="tips-div tips-examples-div">
            <h2>Examples</h2>
            <div class="example-images-div">
                <div class="example-img-set">
                    <div class="example-img-div  good-example">
                        <img class="example-image good-01" src="{% static 'dashboard/images/example_images/example-good-01.jpeg' %}" alt="Example Image 1 - Good">
                    </div>
                    <div class="example-img-div bad-example">
                        <img class="example-image bad-01" src="{% static 'dashboard/images/example_images/example-bad-01.jpeg' %}" alt="Example Image 2 - Bad">
                    </div>
                </div>
                <div class="example-img-set">
                    <div class="example-img-div good-example">
                        <img class="example-image good-02" src="{% static 'dashboard/images/example_images/example-good-02.jpeg' %}" alt="Example Image 3 - Good">
                    </div>
                    <div class="example-img-div bad-example">
                        <img class="example-image bad-02" src="{% static 'dashboard/images/example_images/example-bad-02.jpeg' %}" alt="Example Image 4 - Bad">
                    </div>
                </div>
                <div class="example-img-set">
                    <div class="example-img-div good-example">
                        <img class="example-image good-03" src="{% static 'dashboard/images/example_images/example-good-03.jpeg' %}" alt="Example Image 5 - Good">
                    </div>
                    <div class="example-img-div bad-example">
                        <img class="example-image bad-03" src="{% static 'dashboard/images/example_images/example-bad-03.jpeg' %}" alt="Example Image 6 - Bad">
                    </div>
                </div>
                <div class="example-img-set">
                    <div class="example-img-div good-example">
                        <img class="example-image good-04" src="{% static 'dashboard/images/example_images/example-good-04.jpeg' %}" alt="Example Image 7 - Good">
                    </div>
                    <div class="example-img-div bad-example">
                        <img class="example-image bad-04" src="{% static 'dashboard/images/example_images/example-bad-04.jpeg' %}" alt="Example Image 8 - Bad">
                    </div>
                </div>
            </div>
            <img class="hidden-fullsize" id="hidden-good-01" src="{% static 'dashboard/images/example_images/example-good-01.jpeg' %}" alt="Example Image 1 - Good">
            <img class="hidden-fullsize" id="hidden-bad-01" src="{% static 'dashboard/images/example_images/example-bad-01.jpeg' %}" alt="Example Image 2 - Bad">
            <img class="hidden-fullsize" id="hidden-good-02" src="{% static 'dashboard/images/example_images/example-good-02.jpeg' %}" alt="Example Image 3 - Good">
            <img class="hidden-fullsize" id="hidden-bad-02" src="{% static 'dashboard/images/example_images/example-bad-02.jpeg' %}" alt="Example Image 4 - Bad">
            <img class="hidden-fullsize" id="hidden-good-03" src="{% static 'dashboard/images/example_images/example-good-03.jpeg' %}" alt="Example Image 5 - Good">
            <img class="hidden-fullsize" id="hidden-bad-03" src="{% static 'dashboard/images/example_images/example-bad-03.jpeg' %}" alt="Example Image 6 - Bad">
            <img class="hidden-fullsize" id="hidden-good-04" src="{% static 'dashboard/images/example_images/example-good-04.jpeg' %}" alt="Example Image 7 - Good">
            <img class="hidden-fullsize" id="hidden-bad-04" src="{% static 'dashboard/images/example_images/example-bad-04.jpeg' %}" alt="Example Image 8 - Bad">
        </div>
    </div>
    
{% endblock %} 
