{% extends "layout.html" %}
{% load static %}

{% block title %}Vision{% endblock %}
{% block body %}
    <div class="page-identifier" style="display:none">vision</div>
    <div id="full-size-image-div"></div>
    <div class="vision-page-content">

        <div class="landing-logo-div-vision">
            <img id="logo-eyes-vision" src="{% static 'dashboard/images/eyes-only.png' %}" alt="Booksight Logo Owl Eyes">
            <img id="logo-text-vision" src="{% static 'dashboard/images/booksight-text.png' %}" alt="Booksight Logo Text">
        </div>
            
        <div class="terminal">
            <pre id="progress-status"></pre>
        </div>
         
            <div id="image-div">
                <img class="uploaded-image" id="uploaded-image-raw" src="{{ image_path }}" alt="Uploaded Image">
            </div>

        <div class="vision-para-div">
            <p>
                Your image is processing. Once complete, your files will be exported locally and emailed<sup style="font-size:6px; font-weight:bold;">&nbsp;*</sup>. Feel free to navigate away from this page anytime!
            </p>
            <p id="vision-subtext">
                If you are interested in seeing the process in more detail, check out our Booksight 'Vision CLI' application.
            </p>
            <p>
                <a class="vision-link" href="{% url 'index' %}">Return to the home page</a>
            </p>
        </div>
        <p class="vision-footnote">* See the project README for help setting up Django email settings.</p>
    </div>

<script>
const visionParaDiv = document.querySelectorAll(".vision-para-div");
// if screen is less than 600px wide shrink the font size of the subtext
if (window.innerWidth < 600) {
    for (let i = 0; i < visionParaDiv.length; i++) {
        visionParaDiv[i].style.fontSize = "12px";
    }
}

let stage_three_started = false;
let stage_four_started = false;

function checkStatus() {
    $.ajax ({
        url: "{% url 'vision_status' %}",
        type: "GET",
        success: function(data) {
            console.log(data.status);
            if (data.status == "bbox-detected" && document.getElementById("bbox-image") == null) {
                // Create a new image element to display the bounding box image
                const bbox_image_element = document.createElement("img");
                bbox_image_element.id = "bbox-image";
                bbox_image_element.src = data.bbox_image;
                bbox_image_element.className = "bbox-image";
                bbox_image_element.alt = "Bounding Box Image";
                bbox_image_element.style.display = "block";
                document.getElementById("image-div").appendChild(bbox_image_element);

                // Hide the uploaded image
                const uploaded_image_element = document.getElementById("uploaded-image-raw");
                uploaded_image_element.style.display = "none";

                // Update status
                updateStatusStageTwo();

                console.log(`Bounding box detected: ${data.bbox_image}`)

            } else if (data.status == "text-detected" && document.getElementById("spine-image-grid") == null) {
                // Hide bbox image
                const bbox_image_element = document.getElementById("bbox-image");
                bbox_image_element.style.display = "none";
                
                // Create a new div within image-div to display the text detection images in a grid
                const spine_image_grid = document.createElement("div");
                spine_image_grid.id = "spine-image-grid";
                spine_image_grid.classList.add("spine-image-grid");
                document.getElementById("image-div").appendChild(spine_image_grid);

                // Create new image elements to display the text images
                const text_images = data.text_images.split(",");
                for (let i = 0; i < text_images.length; i++) {
                    const text_image_element = document.createElement("img");
                    text_image_element.src = text_images[i];
                    text_image_element.className = "spine-grid-element";
                    text_image_element.alt = "Spine Image";
                    spine_image_grid.appendChild(text_image_element);

                    // create full size image, hidden until clicked
                    const full_size_image = document.createElement("img");
                    document.getElementById("full-size-image-div").appendChild(full_size_image);
                    full_size_image.src = text_images[i];
                    full_size_image.className = "full-size-image";
                    full_size_image.style.display = "none";

                    // add click event to show full size image
                    text_image_element.addEventListener("click", function() {
                        // if theres already a full size image, hide it
                        const full_size_images = document.querySelectorAll(".full-size-image");
                        for (let i = 0; i < full_size_images.length; i++) {
                            full_size_images[i].style.display = "none";
                        }

                        // show the full size image that was clicked 
                        full_size_image.style.display = "block";

                        // add click event to hide full size image if anywhere on the page is clicked
                        full_size_image.addEventListener("click", function() {
                            full_size_image.style.display = "none";
                        });

                    });

                }

                // Update status
                if (!stage_three_started) {
                    updateStatusStageThree();
                }
            } else if (data.status == "ai-complete") {
                // Update status
                if (!stage_four_started) {
                    updateStatusStageFour();
                }
            } else if (data.status == "completed") {
                clearInterval(statusInterval);
                window.location.href = "{% url 'vision_complete' %}";
            } else if (data.status == "error") {
                clearInterval(statusInterval);
                window.location.href = "{% url 'vision_failed' %}";
            } else {
                setTimeout(checkStatus, 5000);
            }
        }
    });
}

function updateStatus() {
    // Change status every 1.5 seconds
    var status = document.getElementById("progress-status");
    const start_time = new Date().getTime();
    var status_text = ["Loading image...", "Enhancing image...", "Saving enhanced image...", "Applying tensor transformation...", "Running object detection...", "Drawing bounding boxes and creating new spine images..."];

    var i = 0;
    var interval = setInterval(function() {
        status.innerHTML = `$ ${status_text[i]}`;
        i++;
        if (i == status_text.length) {
            clearInterval(interval);
        } // random interval between 0.5 and 1.5 seconds
    }, Math.floor(Math.random() * 1000) + 500);
}

function updateStatusStageTwo() {
    // Change status every 1.5 seconds
    var status = document.getElementById("progress-status");
    const start_time = new Date().getTime();
    var status_text = ["Analyzing image and spine objects...", "Beginning text detection using EasyOCR...", "This process may take a few minutes..."];

    var i = 0;
    var interval = setInterval(function() {
        status.innerHTML = `$ ${status_text[i]}`;
        i++;
        if (i == status_text.length) {
            clearInterval(interval);
        } // random interval between 4 and 8 seconds
    }, Math.floor(Math.random() * 4000) + 4000);
}

function updateStatusStageThree() {
    stage_three_started = true;
    var status = document.getElementById("progress-status");
    status.innerHTML = "All image processing and OCR operations complete.";
    var status_text = ["Beginning preliminary book identification...", "Preparing prompt for AI model...", "AI response received. Processing results...", "Cleaning up ISBN data, removing ISBN-10 duplicates..."]
    
    var i = 0;
    var interval = setInterval(function() {
        status.innerHTML = `$ ${status_text[i]}`;
        i++;
        if (i == status_text.length) {
            clearInterval(interval);
        }
    }, Math.floor(Math.random() * 3000) + 3000);
}

function updateStatusStageFour() {
    stage_four_started = true;
    var status = document.getElementById("progress-status");
    status.innerHTML = "$ ISBN data formatted and ready for matching.";
    var status_text = ["Beginning book matching processes...", "Fetching potential ISBN data...", "Response received from Google Books & OpenLib...", "Beginning precise matching process using ISBNdb...", "This process may take a while...", "...", "[awkward eye contact] 👁️👄👁️ shouldn't be too much longer...", "...", "🎶 elevator music 🎶", "Why did the data analyst go to the zoo?", "To see the pandas! 🐼", "Why should you look for a partner who uses git?", "You know they're not afraid to commit!", "Ok I've got nothing else...well I do. But I'll stop.", "It'll be done soon™  I swear..."];
    
    var i = 0;
    var interval = setInterval(function() {
        status.innerHTML = `$ ${status_text[i]}`;
        i++;
        if (i == status_text.length) {
            clearInterval(interval);
        }
    }, Math.floor(Math.random() * 3000) + 3500);

}


updateStatus();


var statusInterval = setInterval(checkStatus, 5000);
</script>

{% endblock %}
